<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

    </head>

<body>
    <a href="/">home</a><a href="/blog">Main Blog Page</a><a href="/newpost">Add a Blog Entry</a><a href="/login">login</a><a href="/logout">logout</a>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>

    {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>