{% extends "base.html" %}

{% block content %}
       
<h1>{{title}}</h1>
    {% if blog_detail == False %}    
        {% for post in blog_post %}
            <h1>{{post.title}}</h1>
            <hr/>
            <h2>{{post.body}}</h2>
        {% endfor %}
    
    {% elif blogs|length == 0 %}
        <p>No blogs yet</p>
    {% else %}

            <ul>
                {% for blog in blogs %}
                <h3><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h3>
                <h4>{{blog.body}}</h4>
                <hr/>
                {% endfor %}
             </ul>
    {% endif %}
  






{% endblock %}